html, body {
  background-color: #fff;
  color: #636b6f;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  height: 100vh;
  margin: 0; }

.full-height {
  height: 100vh; }

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center; }

.position-ref {
  position: relative; }

.top-right {
  position: absolute;
  right: 10px;
  top: 18px; }

.content {
  text-align: center; }

.title {
  font-size: 84px; }

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase; }

.m-b-md {
  margin-bottom: 30px; }

#mainHeader {
  position: fixed;
  top: 0;
  left: 0;
  line-height: 55px;
  width: 100%;
  /* background-color: white; */
  z-index: 105;
}

#second-section {
  top: 333px;
  height:345px;
  background-color: white;
  z-index: 100;
  padding: 50px 30px 30px;
}

.custom-section {
  position: relative;
  width: 100vw;
  height: 350px;
}

.bluish {
  background-color: aliceblue;
}

.pinkish {
  background-color: rosybrown;
}

#vidContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  max-width: 100vw;
  overflow: hidden;
}

#myVideo{
  min-width: 100%; 
  width: 100vw; 
  height: auto;
  z-index: -1000; 
}

#main-section {
  width: 100vw;
  position: absolute;
  top: 580px;
  left: 0;
}

@media screen and (max-width: 1005px) {
  #main-section {
    top: 500px;
  }
}

@media screen and (max-width: 880px) {
  #main-section {
    top: 345px;
  }
  #myVideo{
    min-width: 100%; 
    width: 125vw; 
  }
  .topnav a {
    float: none;
    width: 100%;
  }
}

@media screen and (max-width: 690px) {
  /* #main-section {
    top: 310px;
  } */
  #myVideo {
    width: 200vw;
  }
}

#order-container {
  height: 30vh;
}

.order-section {
  height: 100%;
}

.icon-blue {
  color: #42a5f5;
}

.quote {
  font-size: 30px;
}

.section-carousel {
  width: 80vw;
}